# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env
.env.local

# Datos sensibles
data/events.json

# Logs
*.log
npm-debug.log*
logs/

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
.vercel
